body {
  background-color: #CCE5FF;
  background-image: url("../images/dubster.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: .1em;
  margin-top: 3em;
  text-align: center;
}

#dubster_levels {
  display: block;
  font-size: 60pt;
}

input#location {
  margin: 0;
  margin-top: 2em;
}

#location, #button {
  border: 3px solid #efefef;
  display: inline-block;
  font-size: 20pt;
  padding: .25em;
}

#button {
  background-color: #efefef;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  letter-spacing: .1em;
  padding-left: 1em;
  padding-right: 1em;
}

#levels {
  display: none;
  font-size: 40pt;
  margin-top: 1em;
}

#levels .number {
  display: block;
  font-size: 80pt;
}