%h1 What are your Dubster Levels?
%input#location{ :type => "text", :name => "location", :size => "50", :placeholder => "Enter your address here" }
  #button Go!

:plain
  <script>
  function showlocation() {
    if (navigator.geolocation) {

      navigator.geolocation.getCurrentPosition(success, function(err) {
        error("Cannot retrieve your location.");
        }, {
          maximumAge: 36000000 // One hour should be close enough
        }
      );

      $('#location').text('Retrieving location, please be patient...');
    }
    else {
      error('not supported');
    }
  }

  function success(position) {
    $("#location").text("Successfully retrieved your location.");
  }

  function error(msg) {
    $("#location").text(msg);
  }

  $('#button').click(function() {
    console.log("finding location");
  });
  </script>