%h1
  What are your
  %span#dubster_levels Dubster Levels?

%input#location{ :type => "text", :name => "location", :size => "50", :placeholder => "Enter your address here" }
  #button Go!
  #levels

:plain
  <script>
  function showLocation() {
    if (navigator.geolocation) {

      navigator.geolocation.getCurrentPosition(success, function(err) {
        error("Cannot retrieve your location.");
        }, {
          maximumAge: 36000000 // One hour should be close enough
        }
      );

      $('#levels').text('Retrieving location, please be patient...');
    }
    else {
      error('not supported');
    }
  }

  function success(position) {
    $("#levels").text("Successfully retrieved your location.");
    console.log(position);
  }

  function error(msg) {
    $("#levels").text(msg);
  }

  $('#button').click(function() {
    showLocation();
  });
  </script>
