%h1
  What are your
  %span#dubster_levels Dubster Levels?

%div
  %input#location{ :type => "text", :name => "location", :size => "50", :placeholder => "Enter your address here" }<
  #button> Go!
%h2#levels
  They're over 
  %span.number 69,000!!

:plain
  <script>

  var dubsterCoords = {
    latitude: 34.065237,
    longitude: -118.240671
  };

  function toRadians(degrees) {
    return (Math.PI * degrees) / 180;
  }

  function calculateDistance(coord1, coord2) {

    var R = 6371; // km

    var dLat = toRadians(coord2.latitude - coord1.latitude);
    var dLon = toRadians(coord2.longitude - coord1.longitude);

    var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
            Math.cos(toRadians(coord1.latitude)) * Math.cos(toRadians(coord2.latitude)) *
            Math.sin(dLon/2) * Math.sin(dLon/2);
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
    return R * c;
  }

  function calculateLevels(distance) {
    return Math.round(75 * distance);
  }

  function showLocation() {
    if (navigator.geolocation) {

      navigator.geolocation.getCurrentPosition(success, function(err) {
        error("Cannot retrieve your location.");
        }, {
          maximumAge: 36000000 // One hour should be close enough
        }
      );

      $('#levels').text('Retrieving location, please be patient...');
    }
    else {
      error('not supported');
    }
  }

  function success(position) {
    $("#levels .number").text(calculateLevels(calculateDistance(position.coords, dubsterCoords)) + "!");
    $("#levels").show();
  }

  function error(msg) {
    $("#levels").text(msg);
  }

  $('#button').click(function() {
    showLocation();
  });
  </script>
