!!!
%html
%head
  %title Dubster Levels
  %link{ :href => "//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700", :rel => "stylesheet", :type => "text/css" }
  %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
  = stylesheet_link_tag :all
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
  = csrf_meta_tag

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20149612-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

%body
  = yield
